services:
  # Nginx Web サーバー
  nginx:
    image: nginx:latest
    container_name: laravel-nginx
    ports:
      - "80:80"  
    volumes:
      - ./laravel:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - laravel_network
    restart: always  

  # PHP-FPM
  php:
    build:
      context: ./docker/php
      dockerfile: Dockerfile
    container_name: laravel-php
    volumes:
      - ./laravel:/var/www/html
    networks:
      - laravel_network
    restart: always  
    dns:
      - 8.8.8.8
      - 1.1.1.1
    sysctls:
      net.ipv6.conf.all.disable_ipv6: 1
      net.ipv6.conf.default.disable_ipv6: 1

networks:
  laravel_network:
    driver: bridge